
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-images {
    display: grid;
    gap: 15px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    animation: fadeIn 1s ease-in;
}



.carousel button {
    background-color: transparent;
    border: none; /* Remove border */
    color: rgb(0, 0, 0); /* White text */
    padding: 15px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    height: 35vh;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 50px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect */
    
    font-size: 32px;
    
}



.carousel button:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
}

@media (max-width: 599px) {
    .carousel-images {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .carousel-images {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 900px) {
    .carousel-images {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

