.test-navbar {

    position: fixed;
    z-index: 299;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    color: #fff;
  }
  

  .test-logo-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .test-navbar-logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  
  .test-navbar-text {
    cursor: pointer;
    color: rgb(200, 102, 156);
    font-style: italic;
  }
  
  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .test-nav-menu {
    display: flex;
    list-style: none;
    margin-right: 50px;
    
  }
  
  .test-nav-item {
    display: flex; /* Add this */
    align-items: center; /* Add this */
    margin-left: 1rem;
    margin-right: 25px;
    padding-left: 5px;
    padding-right: 5px;
}


  
  .test-nav-links {
    color: rgb(0, 0, 0); /*textfärg*/
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }

  .test-nav-links:hover {
    color:rgb(0, 123, 255)
    
  }

.signin-button {
    font-size: 18px; /* Adjust as needed */
    background-color: #2d8f00;
}
  
  @media screen and (max-width: 768px) {
    
    .test-logo-container {
        display: flex;
        align-items: center;
        margin-left: 0px;
      }
    
    .menu-icon {
      display: block;
      font-size: 2rem;
      color: rgb(0, 0, 0);
      transition: transform 0.3s ease-in-out; /* Add this */
        
    }
  

    .menu-icon.active {
        transform: rotate(180deg);
    }

    .test-nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      
      background-color: #333;

      

      
    }
  
    .test-nav-menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      
    }
  
    .test-nav-item {
      margin: 1rem 0;
    }
  }