.article-aside {
    background-color: rgb(94, 255, 0);
    
    /*
    padding: 10px;
    margin: 5px;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    height: 50%; 
    */
    padding: 10px;
}


.article-aside h2 {
    margin-bottom: 10px; /* Adjust as needed */
}

.article-aside p,
.article-aside ul {
    margin-bottom: 20px; /* Adjust as needed */
}

.article-aside ul li {
    margin-bottom: 10px; /* Adjust as needed */
}