.article-main {
    margin-left: 20%;
    margin-right: 20%;
}


.article-section {
    background-color: aqua;
    /*
    padding: 10px;
    margin-left: 2%;
    */
    padding: 10px;
    
}

.article-section-text {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

