
.article-subheader{
    padding: 10px;
    background-color: brown;
    margin: 5px;
}


.article-subheader-title{
    text-align: center;
}

.article-subheader-title h2{
    font-size: 80px;
    font-weight: 650;
    padding-bottom: 10px;
    line-height: 2;
    
    color: rgb(0, 0, 0);
}

.article-subheader-text{
    text-align: center;

}

.article-subheader-text p {
    font-size: 40px;
    
}