/* ContinentComponent.css */


.destination {
    margin-left: auto;
    margin-right: auto;
}

.col-content {
    width: 15vw;       /* Fixed width for all columns */
    height: 40vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}



.col-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0;
}
