/* CSS for Navbar component */
.navbar-content {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 299;
    background-color: #ffffff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO AND TEXT */
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.logo {
    max-width: 15%; /* Adjust as needed */
    max-height: 15%;
    margin-right: 10px; /* Adjust as needed */
}

.logo-text {
    color: rgb(200, 102, 156);
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.navbar-links {
    display: flex;
    margin-right: 2%;
}

.navbar-links a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: bold;   
    text-decoration: none;
    transition: ease 0.40s;
    margin: 0 10px;
}

.navbar-links a:hover, .navbar-links a.active {
    color:rgb(38, 125, 255);
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        margin: 0 0px;
    }

    .hamburger-menu {
        display: flex;
    }

    .logo {
        max-width: 15%; /* Adjust as needed */
      
        
    }

    .logo-text {
        display: none;
    }


}

.navbar-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60px; /* This will be overridden by JavaScript */
    left: 0;
    background-color: #fff;
}

/*
.navbar-content {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 299;
    
}

.navbar-content .navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
}



nav{
    width: 100%;
    position: fixed;
    /*
    background: linear-gradient(90deg, rgb(46, 95, 95) 0%, rgb(164, 175, 175) 50%, rgb(124, 185, 196) 100%);
    
    background-color: #ffffff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* LOGO AND TEXT 
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 15%; /* Adjust as needed 
    max-height: 15%;
    margin-right: 10px; /* Adjust as needed 
    margin-left: 10%;
}

.logo-text {
    color: rgb(200, 102, 156);
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}



nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar{
    display: flex;
    margin-right: 15vh;
}

.navbar a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: bold;   
    text-decoration: none;
    transition: ease 0.40s;
}

.navbar a:hover,.navbar a.active{
    color:rgb(38, 125, 255);
    /* 
    background: #e6e6e6;
   
    color: rgb(0, 0, 0);
  

    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
     
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}


.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
    .logo {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .logo-text {
        align-self: center;
    }
}


.navbar.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60px; /* Adjust as needed 
    left: 0;
    background-color: #fff;
}

*/