/* CSS for Header component */


.article-header-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.article-header-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: cover;
    
    
    /* Lägg till i mobilanpassning för att bilden ska följa med på rätt sätt 
    background-size: contain;
    background-repeat: no-repeat;
    */
    
}

.article-header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.article-header-button {
    background: linear-gradient(to right, #1c72e2, #0d668a);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.5s;

    margin-top: 5%;
}

.header-down-button {

    margin-top: 5%;
    margin-bottom: 5%;
}

.article-header-button:hover {
    background-position: right;
    color: #fff;
    text-decoration: none;
}


/* Header TEXT */

.article-header-title {
    text-decoration: none;
    font-size: 4vh;
    color: rgb(255, 255, 255); /* BYTER FÄRG PÅ TEXTEN I TITLEN (ITALY) */
    padding: 14px 17px;
    text-align: center;
}

.article-header-title h1{
    font-size: 15vh;
    text-shadow: 2px black;

}

.article-header-title h1:hover{
    text-shadow: 2px black;
    transition: ease 0.3s;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.article-header-title p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2vh;

    color: white;

}
