.article-aside {
    background-color: transparent;
    width: 20%;
    padding-left: 2%;
    padding-top: 2%;

}


.article-aside h2 {
    margin-bottom: none; /* Adjust as needed */
}

.article-aside p,
.article-aside ul {
    margin-bottom: none; /* Adjust as needed */
}

.article-aside ul li {
    margin-bottom: none; /* Adjust as needed */
}