.card-container {
    
    
    border-radius: 10px;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 10px;
   
    text-align: center;
    width: 400px;
    display: inline-block;
    height: fit-content;
}

.card-container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  
  
}

.card-title {
    margin: 10px;

}

.card-description {
    margin: 10px;
}

.card-btn {
    text-align: center;
    margin: 10px;
}
