<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.2 }} - artikel </title>
</head>
<body>
    <h1>{{ article.2 }}</h1>
    <h2>{{ article.3 }}</h2>
    <p>{{ article.8 }}</p>

    <p><b>Landyta:</b> {{ article.5}} km&sup2;</p>
    <p><b>Befolkning:</b> {{ article.4 }}</p>
    <p><b>Kontinent:</b> <a href="{% url 'continent_detail' continent_id %}"> {{ article.7 }}</a></p>    

    <h3>Regioner i {{ article.2 }}</h3>
    <ul>
        {% for region_id, region_name in regions %}
            <li><a href="{% url 'region_detail' region_id %}">{{ region_name }}</a></li>
        {% endfor %}
    </ul>
    <p>___________________________________________________</p>
    <br>
    <a href="{% url 'list_continents' %}">Tillbaka till alla kontinenter</a>
</body>
</html>
