<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.2 }} - artikel </title>
</head>
<body>
    <h1>{{ article.2 }}</h1> <!-- Namn på sevärdhet (poi) -->
    <h2>{{ article.3 }}</h2> <!-- Underrubrik -->
    <p>{{ article.6 }}</p> <!-- Brödtext -->


    {% if city_id %}
        <p><b>Stad:</b> <a href="{% url 'city_detail' city_id %}">{{ city_name }}</a></p>
    {% endif %}
    <p><b>Region:</b> <a href="{% url 'region_detail' region_id %}">{{ region_name }}</a></p>
    <p><b>Land:</b> <a href="{% url 'country_detail' country_id %}">{{ article.10 }}</a></p>
    <p><b>Kontinent:</b> <a href="{% url 'continent_detail' continent_id %}">{{ article.12 }}</a></p>

    <p>___________________________________________________</p>
    <br>
    <a href="{% url 'list_continents' %}">Tillbaka till alla kontinenter</a>
</body>
</html>
